/* NCEAS Learning Hub site uses Avenir... some free options on Google Fonts:
   Sen, Figtree, Manrope, Montserrat
*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

.quarto-title-block .quarto-title-banner {
  /* multiple background images - first (NCEAS logo) on top, then hex, then
     linear gradient underneath - separated by commas */
  background-image: url(logo-nceas.svg),
                    url(logo-lh-hex.png),
                    linear-gradient(to top right, #5C9341, #167B62, #0C4537, black);
  /* Then the options apply to each image in turn.  The last (100% 200px) sets
     both the width (100%) and height (200px) of the gradient to fit the block */
  background-size: 100px, 130px, 100% 200px;
  background-position: 10%, 90%, left;
  background-repeat: no-repeat, no-repeat;
  background-origin: content-box;
}

body {
  font-family: Figtree, serif;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: Figtree, serif;
  font-weight: 700;
  color: #167b62;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.exercise {
  background-color: #a6bddb;
  padding: 1em;
}
.setup {
  background-color: #bae4bc;
  padding: 1em;
}
.aside {
  background-color: #bfbdbd;
  padding: 1em;
}

.slide-deck{
  border: 3px solid #dee2e6;
    border-top-color: rgb(222, 226, 230);
    border-top-style: solid;
    border-top-width: 3px;
    border-right-color: rgb(222, 226, 230);
    border-right-style: solid;
    border-right-width: 3px;
    border-bottom-color: rgb(222, 226, 230);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-left-color: rgb(222, 226, 230);
    border-left-style: solid;
    border-left-width: 3px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  width: 100%;
  height: 475px;
}
