/*-- Importing fa icons --*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

/*-- scss:defaults --*/


/*-- scss:rules --*/

// Callout styling //

// /* General style for the callout toggle */
// .callout-header .callout-toggle {
//   display: inline-block;
//   transition: transform 0.3s ease; /* Smooth animation */
//   font-size: 1.2rem;
//   margin-right: 8px;
// }

// /* Right-pointing triangle (initial state) */
// .callout-header .callout-toggle::before {
//   content: '\25B6'; /* Unicode for right-pointing triangle */
// }

// /* When the parent is not collapsed: rotate the triangle */
// .callout-header:not(.collapsed) .callout-toggle::before {
//   content: '\25BC'; /* Unicode for down-pointing triangle */
// }


// this is here due to a styling bug where a callout within a callout adds an unecessary padding at the bottom by default
// in our case this would affect answer callout within an exercise callout
.callout.callout-titled .callout-body > :last-child:not(.sourceCode), .callout.callout-titled .callout-body > div > :last-child:not(.sourceCode) {
  padding-bottom: 0;
  margin-bottom: 0;
}

// this is here so there's some padding for a callout within a callout
// again this mostly affects our answer callout within an exercise callout
.callout.callout-style-default .callout-body {
  padding-bottom: 0.5rem;
}

// Exercise callout styling
div.callout-exercise.callout {
  border-left-color: #c6c5b9;
}

div.callout-exercise.callout-style-default > .callout-header {
  background-color: #f9f9f8;
}

.callout-exercise > .callout-header::before {
  font-family: "font-awesome";
  content: "fa-pencil";
  margin-right: 10px;
}

// Answer callout styling
.callout-answer > .callout-header::before {
  font-family: "font-awesome";
  content: "check";
  margin-right: 10px;
}

div.callout-answer.callout {
  border-left-color: #28828A;
}

div.callout-answer.callout-style-default > .callout-header {
  background-color: #eaf3f3;
}

// Hint callout styling
.callout-hint > .callout-header::before {
  font-family: "Font Awesome 5 Free";
  content: "\f12e ";
  margin-right: 10px;
}

div.callout-hint.callout {
  border-left-color: #ff0000;
}

div.callout-hint.callout-style-default > .callout-header {
  background-color: #f9f9f8;
}
